@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-fundo:#9CA986;
    --cor-letra:#5F6F65;
    --cor-clara:#C9DABF;
    --secundaria:#808D7C;
    --fonte:"Noto Serif", serif;
}

body{
    min-height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--fonte);
    font-size: 16px;
    background-color: var(--cor-fundo);
}

h1{
    font-size:4em;
    font-weight: 600;
    color: var(--cor-letra);
    text-shadow: black 1px 1px 2px;
}

h2{
    font-size: 4em;
    color: var(--cor-letra);
}

h3{
    font-size: 2em;
    color: var(--cor-clara);
}

.mensagem{
    font-size: 1.5em;
    margin-top: 40px;
    color: var(--cor-clara);
}

.box{
    color: var(--cor-letra);
    border: 2px solid var(--cor-letra);
    display: inline-block;
    font-size: 3em;
    padding: 10px;
    margin: 2opx;
}

.btn-jogar{
    padding:8px 15px ;
    border: 0;
    background: var(--secundaria);
    border-radius: 5px;
    margin-top:20px ;
}